root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.py]

[*.html]
indent_size = 2
tab_width = 2

[*.css]
indent_size = 2
tab_width = 2

[*.{js,ts}]
indent_size = 2
tab_width = 2

[*.xml]
indent_size = 2
tab_width = 2

[*.csv]
indent_size = 0
# tab_width = 0

[*.json]
indent_size = 2
tab_width = 2

[*.{yml,yaml}]
indent_size = 2
tab_width = 2

[*.{sh,bash}]
indent_size = 2
tab_width = 2
shell_variant = bash

[Dockerfile]
indent_size = 2
tab_width = 2

[Makefile]
indent_style = tab

[*.md]
indent_size = 2
tab_width = 2
trim_trailing_whitespace = false
